<!-- lib/templates/erb/scaffold/index.html.erb.tt -->

<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h2">Orders</h1>

    <% if @orders.exists? %>
      <%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @orders.exists? %>
    <div class="bg-white rounded shadow">
      <table class="w-full">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-700">User</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Total price</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Status</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Credit</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Remarks</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Shipping address</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Notification phone number</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Voucher code</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Delivery mode</th>

            <th class="p-3 uppercase text-left text-xs text-gray-700">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @orders.each do |order| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= order.user_id %></td>
                          <td class="p-3"><%= order.total_price %></td>
                          <td class="p-3"><%= order.status %></td>
                          <td class="p-3"><%= order.credit %></td>
                          <td class="p-3"><%= order.remarks %></td>
                          <td class="p-3"><%= order.shipping_address %></td>
                          <td class="p-3"><%= order.notification_phone_number %></td>
                          <td class="p-3"><%= order.voucher_code %></td>
                          <td class="p-3"><%= order.delivery_mode_id %></td>
            
            <td>
              <%= link_to "View", order, class: "btn btn-primary" %>
              <%= link_to "Edit", edit_order_path(order), class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div class="bg-white rounded shadow flex items-center justify-between p-8">
      <div class="flex-1 text-center">
        <p class="text-xl font-semibold mb-4">Create your first Order</p>
      <%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
