<div class="container">
  <h2 class="custom-header">My orders (<%=valid_orders(@orders).size%>)</h2>
  <% if valid_orders(@orders).empty?%>
    <h4 class="text-center mt-4 border p-5">No orders yet.</h4>
    <div class="text-center my-4"><%= link_to '< Browse items', root_path, :class => 'link' %></div>
  <%else%>
    <% valid_orders(@orders).each do |order|%>
      <div class="order-item-card card mb-4 p-4">
        <div class="row d-md-flex align-items-baseline justify-content-between">
          <div class="col-sm-5 col-12 mb-3 mb-sm-0">
            <h4 class="">Order ID: <%= order.idify%></h4>
            <h5><%= link_to 'View details',order, class:'link'%></h5>
          </div>
          <div class="col-12 col-sm-6 text-sm-right mb-3 mb-sm-0">
            <h4>Status: <%= show_status(order) %></h5>
            <h5><%= order.order_date ? order.order_date.strftime('%e %b %Y') : order.updated_at.strftime('%e %b %Y')%></h4>
          </div>
        </div>
        <% if order.shipping_address.size > 0%>
          <h5 class="my-1">Delivery address</h5>
          <p class="p-0 m-0"><%=order.company_name%></p>
          <p class="p-0 m-0"><%=order.shipping_address%></p>
        <%end%>
        <table class="table table-bordered table-hover mt-3 table-responsive-md">
          <thead>
            <tr>
              <th>item</th>
              <th>Quantity</th>
              <% if user_signed_in? && current_user.show_price%>
                <th>Price</th>
                <th>Unit discount</th>
                <th>Subtotal</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% order.order_items.each do |order_item| %>
              <tr>
                <td>
                  <%= order_item.item.name %>
                  <% if order_item.promo_applying && order_item.promo_applying.gift %>
                    <br/>
                    <small>Free <%= order_item.promo_applying.gift%> x <%= order_item.quantity / order_item.promo_applying.min%></small>
                  <% end %>
                </td>
                <td><%= order_item.quantity %></td>
                <% if user_signed_in? && current_user.show_price%>
                  <td><%= number_to_currency(order_item.unit_price || 0,unit:'RM') %></td>
                  <td>
                    <% if order_item.unit_discount > 0 %>
                      <%= number_to_currency(order_item.unit_discount || 0,unit:'RM') %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                  <td><%= number_to_currency(order_item.sub_total || 0,unit:'RM') %></td>
                <% end %>
              </tr>
            <% end %>
            <% if user_signed_in? && current_user.show_price%>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="font-weight-bold"><%= number_to_currency(order.price || 0,unit:'RM')%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <%end%>
</div>
