<div class="my-3">
  <div class="row d-md-flex align-items-baseline justify-content-between">
    <h2 class="col-12 col-sm-5 custom-header">My cart</h2>
    <h4 class="col-12 col-sm-6 text-sm-right custom-title">Total (<%= pluralize(current_order.total_quantity, "item")%>): <span class="font-weight-bold"><%= number_to_currency(current_order.total_price || 0,unit:'USD') %></span></h4>
  </div>
  <% if !current_order.total_price.nil? && current_order.total_price.positive? %>
    <button type="submit" class="btn btn-light my-4" data-toggle="modal" data-target="#exampleModal" id="checkout">Empty Cart</button>
    <div class="orderitems-container">
      <% @order_items.each do |order_item| %>
        <div class="mb-2 card ">
          <div class="card-body" style="position:relative;">
            <span class="mt-1 remove-btn cursor-pointer" data-toggle="modal" data-target="#exampleModalRemove<%=order_item.item.id%>">
              тип
            </span>
            <div class="bg-transparent my-4">

              <h4 class="my-2"><%= order_item.item.name %></h4>
              <h4 class="my-2"><%= order_item.item.brand.name %></h4>
              <h5 class="text-secondary"><%= order_item.item.category.name%></h5>
            </div>
            <div class="">
              <%= form_for order_item, remote: true do |f| %>
                <div class="">
                  <div class="mb-2 d-flex flex-wrap">
                    <%= f.hidden_field :item_id, :value => order_item.item.id %>
                    <% f.number_field :quantity, :value => order_item.quantity.to_i,class:'border mr-2 text-dark',min:1,max:order_item.item.quantity %>
                    <%= f.select :quantity, [*1..max_quantity(order_item.item.quantity)],{},class:'border mr-2 text-dark px-2' %>
                    <%= button_tag "Update", class:'btn btn-light bg-transparent',data: { disable_with: "Updating..." }%>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="mt-4">
              <% if user_signed_in? && current_user.show_price%>
                  <h6 class="cart-item-subtotal ">Subtotal: <%= number_to_currency(order_item.sub_total.to_f,unit:'USD') %></h6>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalRemove<%=order_item.item.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove item</h5>
                <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= order_item.item.brand.name%>
                <div class="mt-3 mb-4">Remove <span class="" style="line-height: 2"><%= order_item.item.name%></span> from your cart?</div>
              </div>
              <div class="modal-footer">
                <%= link_to "Yes, remove item", order_item_path(order_item), method: :delete, remote: true, class:'btn btn-primary',data: { turbolinks:true,disable_with: "Removing...",dismiss:"modal" }, title:'Remove item'%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% unless current_order.total_price.nil? || !current_order.total_price.positive? %>
      <%= link_to 'Proceed to shipping', shipping_orders_path ,class:"btn btn-primary btn-lg btn-block mt-4" %>
    <% end %>
  <% else %>
    <h4 class="text-center mt-4 border p-5">No items in your cart</h4>
  <% end %>
  <div class="text-center my-4"><%= link_to '< Browse more items', root_path, class:'link' %></div>
</div>
<!-- Empty Cart Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove all items?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <%= link_to 'Yes, remove all', empty_carts_path ,class:'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'cart_show'%>
