<!-- lib/templates/erb/scaffold/index.html.erb.tt -->
<% if @items.exists? %>
<div class=" mx-auto my-5 px-4">
  <%= render 'filters_form' %>
  <p>Showing <%=@items.count%> items</p>
  <div class="items-container">
    <% @items.each do |item| %>
      <div class="item-card card">
        <p class="p-0 m-0">Item: <%=item.name%></p>
        <p class="p-0 m-0">Brand: <%=item.brand.name%></p>
        <p class="p-0 m-0">Category: <small class="text-secondary"><%=item.category.name%></small></p>
        <p class="p-0 m-0">Description: <small class="text-secondary"><%=truncate(item.description,length:100)%></small></p>
        <% if item.under_promotion?%>
          <div>
            <span class="font-weight-bold mr-1"><%=number_to_currency(item.price_after_biggest_discount,unit:'RM')%></span>
            <%if item.discount? || item.percent?%>
              <span class="text-secondary" style="text-decoration:line-through;"><%= number_to_currency(item.price,unit:'RM') %></span>
            <%end%>
            <span> per item</span>
            <% if item.latest_promotion.gift.present?%>
              <br/><small>gift</small>
            <% end %>
          </div>
        <%else %>
          <div>
            <span class="font-weight-bold"><%= number_to_currency(item.price,unit:'RM') %></span>
            <span> per item</span></div>
        <%end%>

        <p class="p-0 m-0">Availability: <%="#{item.quantity} in stock"%></p>
        <%= form_for @order_item, remote: true,html:{class:' add-to-cart-form'}  do |f|%>
          <%= f.hidden_field :item_id, :value => item.id %>
          <%= f.select :quantity, [*1..max_quantity(item.quantity)],{}, class:'form-control' %>
          <%= button_tag type: 'submit', class: "checkout-btn btn btn-primary", data: { disable_with: "Updating..." } do %>
            Add to cart
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% else%>
  <div class="my-4">
  <p>Sorry, there are no items found for the search ente red. Please try another search or:</p>
  <ul>
    <li>Keep your search criteria simple for a wider search result</li>
    <li>Show <%= link_to 'all items', root_path, class:'link',data: { disable_with: "Redirecting..." }%> <span>instead</span></li>
  </ul>
  <p>Need assistance? Contact us on <%=mail_to 'kylelaw1121@gmail.com','kylelaw1121@gmail.com', class:'link'%></p>
</div>
<% end %>
