<!-- lib/templates/erb/scaffold/index.html.erb.tt -->

<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h2">Promotions</h1>

    <% if @promotions.exists? %>
      <%= link_to 'New Promotion', new_promotion_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @promotions.exists? %>
    <div class="bg-white rounded shadow">
      <table class="w-full">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Name</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Message</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Min</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Mixable</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Discount fixed</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Discount percent</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Gift</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Gift quantity</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Date start</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Date end</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Voucher code</th>

            <th class="p-3 uppercase text-left text-xs text-gray-700">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @promotions.each do |promotion| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= promotion.name %></td>
                          <td class="p-3"><%= promotion.message %></td>
                          <td class="p-3"><%= promotion.min %></td>
                          <td class="p-3"><%= promotion.mixable %></td>
                          <td class="p-3"><%= promotion.discount_fixed %></td>
                          <td class="p-3"><%= promotion.discount_percent %></td>
                          <td class="p-3"><%= promotion.gift %></td>
                          <td class="p-3"><%= promotion.gift_quantity %></td>
                          <td class="p-3"><%= promotion.date_start %></td>
                          <td class="p-3"><%= promotion.date_end %></td>
                          <td class="p-3"><%= promotion.voucher_code %></td>
            
            <td>
              <%= link_to "View", promotion, class: "btn btn-primary" %>
              <%= link_to "Edit", edit_promotion_path(promotion), class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div class="bg-white rounded shadow flex items-center justify-between p-8">
      <div class="flex-1 text-center">
        <p class="text-xl font-semibold mb-4">Create your first Promotion</p>
      <%= link_to 'New Promotion', new_promotion_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
